<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Диплом
</title>
</head>
<body>
<p>Дипломная работа к профессии Python-разработчик «API Сервис заказа товаров для розничных сетей».</p>
<h1>Список предлагаемых опций:</h1>
<p>Административная панель для суперпользователей,
    <a href="{% url 'admin:index' %}">/admin/.</a>
    <br>
    <br>
    <a>Ссылка для работы с API: https://web-production-cde8.up.railway.app/api/v1/</a>
    <br>
    <br>
    <a>Для регистрации пользоватеей следует отправить запрос по адресу:
    https://web-production-cde8.up.railway.app/api/v1/user/register.</a>





</body>
</html>